#btn {
    margin-top:2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    padding: 1vh;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background: #00aaFF;
    text-align: center;
    line-height: 20vh;
    color: #fff;
    font-size: 5vh;
    font-weight: bold;
    box-shadow: 2px 5px 0 #0088cc;
    user-select: none;
}

#btn:active {
    box-shadow: 0 1px 0 #0088cc;
    margin-top: 3vh;
    margin-bottom: 4vh;
}
