html {
    touch-action: manipulation;
  }
body{
    background: #efefef;
    font-family:  'Courier New', sans-serif;
}
.container{
    width:50vw;
    margin-left: auto;
    margin-right: auto;
}
input[type="num"]{
    width:100%;
    height: 15vh;
    padding: 7px;
    border-radius: 2vh;
    font-size: 10vh;
    font-family: 'Courier New', sans-serif;
    text-align: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]{
    font-size: 3vh;
    border-radius: 1vh;
    text-align: center;

}

fieldset{
    margin-top: 40px;
    border-radius: 5px;
    text-align: left;
}
legend{
    font-weight: bold;
    padding : 0 10px;
}

#enstrp{
    width:80%;
    height: 2vh;
    text-align: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
}
#jastrp{
    width:80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10vh;
}

#table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3vh;
    padding: 0.1vh
}