html {
    overflow: hidden;
    touch-action: manipulation;
  }
body{
	user-select: none;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #efefef;
    font-family:  'Courier New', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
}

div[type="textfield"]{
    width:60vw;
    margin-left: auto;
    margin-right: auto;
}

input[type="num"]{
    width:60vw;
    height: 15vh;
    padding: 7px;
    border-radius: 2vh;
    font-size: 10vh;
    font-family: 'Courier New', sans-serif;
    text-align: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]{
    font-size: 2vh;
    border-radius: 1vh;
    text-align: center;

    width:50vw;
}

fieldset{
    margin-top: 40px;
    border-radius: 5px;
    text-align: left;
}
legend{
    font-weight: bold;
    padding : 0 10px;
}

#enstrp{
    width:50vw;
    height: 2vh;
    text-align: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
}
#jastrp{
    width:50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vh;
}

#table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3vh;
    padding: 0.1vh
}
